/* =============
    Base
============= */
body {
	margin-top: 140px;

	@include lg {
		margin-top: 80px;
	}
}
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main{
    background: lightyellow;
    display: grid;
    grid-template-areas: 
    "header"
    "hero"
    "whatsnew"
	"contact"
	"meetus"
	"localpartners"
    "footer";
	grid-gap:10px;
  
}

.header{
	grid-area: header;
	img {
		display: grid;
		width: 35%;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(10, 2fr);
		
	}

	a {
		display: grid;
	}
	@include md {
		img {
			display: grid;
			width: 45%;
		}
		ul {
			grid-template-columns: repeat(10, 2fr);

			
		}
	}
	@include lg {
		ul {
			grid-template-columns: repeat(12, 1fr);

			
		}
	}
	@include xl {
		ul {
			grid-template-columns: repeat(12, 1fr);

			
		}
	}
}
.hero {
	display: grid;
	grid-area: hero;
	align-items: center;
	justify-content: center;
	
	img {
		width: 100%;
		justify-content: center;
	}

	

	a {
		display: grid;
		grid-template-columns: 90% auto;
		align-items: center;
	}
	#contactinfo{
		grid-area: continfo;
	}
	#herotxt{
		grid-area: herotext;
	}

	@include md {
		ul {
			
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 50px;
			grid-template-areas:
			". herotext herotext ."	
			". continfo continfo .";
				
			
		}
	}

	@include lg {
		ul {
			grid-template-columns: repeat(8, 1fr);
		}

		a {
			grid-template-columns: repeat(8, 1fr);
		}

		
	}
}
.whatsnew {
	grid-area: whatsnew;

	ul {
		display: grid;
	}

	@include md {
		ul {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
			grid-template-areas:
				"new-1 new-1 new-2 new-2"
				". new-3 new-3 .";
		}

		#new-gallery-1 {
			grid-area: new-1;
		}
		#new-gallery-2 {
			grid-area: new-2;
		}
		#new-gallery-3 {
			grid-area: new-3;
		}
		
	}

	@include lg {
		ul {
			grid-gap: 30px;
			grid-template-columns: repeat(6, 1fr);
			grid-template-areas:
				"new-1 new-1 new-2 new-2 new-3 new-3";
		}
	}
}
.contact{
	display: grid;
    grid-area: contact;
	padding: 0 30px 30px;
    img{
        width: 50%;
    }
    ul{
        display: grid;
    }
    a {
		display: grid;
		grid-template-columns: 90% auto;
        margin: 20px auto;
		align-items: center;
	}
}
.meetus{
	display: grid;
    grid-area: meetus;
	padding: 0 auto 30px;
	margin: auto;
	
	
    img{
        width: 30%;
    }
	ul{
		display: grid;
	}
	
	@include md{
		ul{
			grid-gap: 30px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
					"bus-1 bus-4"
					"bus-2 bus-5"
					"bus-3 bus-6";
		}
	
	#bus1{
		grid-area: bus-1;
	}
	#bus2{
		grid-area: bus-2;
	}
	#bus3{
		grid-area: bus-3;
	}
	#bus4{
		grid-area: bus-4;
	}
	#bus5{
		grid-area: bus-5;
	}
	#bus6{
		grid-area: bus-6;
	}
}
@include lg{
	ul{
		grid-gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
				"bus-1 bus-4 bus-2"
				"bus-5 bus-3 bus-6";
	}

#bus1{
	grid-area: bus-1;
}
#bus2{
	grid-area: bus-2;
}
#bus3{
	grid-area: bus-3;
}
#bus4{
	grid-area: bus-4;
}
#bus5{
	grid-area: bus-5;
}
#bus6{
	grid-area: bus-6;
}
}
}