
  .hero{
    justify-content: center;
.hero-img{
	background: url("/deploy/img/heroimage.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
    padding: 10px;
}
.herotxt{
    width: 65%;
    padding:20px;
		margin: auto auto;
        text-align: left;
        justify-content: center;

        li {
            //background: $lightYellow;
            padding:20px;
            margin: 10px;
            background-color: $buttonBlue;
            
        
                .new-content {
                    padding: 0 30px 30px;
                }

        
                p {
                    font-size: rem-calc(16);
                    line-height: 1.4;
                }
            
        
            @include md {
                width: 75%;
                margin: 30px auto;
            }
            
        }
}
.contactinfo{
        justify-content: center;
        align-items:center;
       
		margin: 10px;
        padding:10px;
        text-align: center;
        background-color: $prussianBlue ;

        
            @include md {
                width: 75%;
                margin: 30px auto;
            }
            
        }
  }
// .hero {
	
// }
