.hero-img{
	background: url("/Users/peterneuvelt/Documents/GitHub/NeuveltP_Final/deploy/img/heroimage.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
    padding: 10px;
}
.herotxt{
    width: 65%;
		margin: auto auto;
        text-align: center;

        li {
            //background: $lightYellow;
            padding:10px;
            margin: 10px;
            background-color: $buttonBlue;
            
        
                .new-content {
                    padding: 0 30px 30px;
                }

        
                p {
                    font-size: rem-calc(16);
                    line-height: 1.4;
                }
            
        
            @include md {
                width: 75%;
                margin: 30px auto;
            }
            
        }
}
.contactinfo{
    width: 65%;
		margin: 10px;
        text-align: center;

        li {
            background: $lightYellow;
		    margin-bottom: 15px;
		    box-shadow: 1px 1px 3px $brighterYellow;
            padding:10px;
            margin: 10px;
            background-color: $buttonBlue;
            
        
                .new-content {
                    padding: 0 30px 30px;
                }
        
                button {
                    background: $brighterYellow;
                    border: none;
                    padding: 5px 10px;
                }
        
                p {
                    font-size: rem-calc(16);
                    line-height: 1.4;
                }
            
        
            @include md {
                width: 75%;
                margin: 30px auto;
            }
            
        }
}
// .hero {
	
// }
