.hero-img{
	background: url("/Users/peterneuvelt/Documents/GitHub/NeuveltP_Final/deploy/img/heroimage.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
}
.contactinfo{
    width: 65%;
		margin: auto auto;
        text-align: center;

        li {
            padding:10px;
            margin: 10px;
            background-color: $buttonBlue;
            
        }
}
// .hero {
	
// }
