.contact{
    grid-area: contact;
    img{
        width: 50%;
    }
    ul{
        display: grid;
    }
    a {
		display: grid;
		grid-template-columns: 90% auto;
		align-items: center;
	}
    button {
        background: $yellow2;
        border: none;
        padding:  10px;
    }
}
.Mailinglist{

    
}
.Messageus{

}