/* =============
    Navigation
============= */
a{
    text-decoration: none;
    transition: 0.25s;
}
#burger-container{
    position: absolute;
    right: 0px;
    @include lg{
        display: none;
    }
}
#nav-container{
    background-color: $yellow2; 
    display:none;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 40px;

        .nav-btns{
            display: inline-block;
            text-decoration: none;
            margin: 0 auto;
            color: $prussianBlue;
            padding: 10px 5px;
            width: 100%;
            border-bottom: 2px solid transparent;
            &:hover{
                background: $lightYellow;
                border-bottom: 2px solid $lightYellow;
            }
            &:active{
                background: $brighterYellow;
            }
        }
        ul li {
            text-align: center;
        }
        @include lg {
            //display:grid;
            background-color: none;
            display: block !important;
            position: absolute;
            width: auto;
            top:0px;
            .nav-btns {
                color: $prussianBlue;
            }
            ul {
                display: flex;
                align-items: center;
            }
            ul li {
                margin: 0 100px;
            }
        }
        @include xl {
            //display:grid;
            background-color: none;
            display: block !important;
            position: unset;
            width: auto;
            top:0px;
            .nav-btns {
                color: $prussianBlue;
            }
            ul {
                display: flex;
                align-items: center;
            }
            ul li {
                margin: 0 10%;
            }
        }
}